<div>
  <div>
    <h2 class="text-center">Busqueda por región</h2>
    <hr>
  </div>
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <button [ngClass]="{ 'btn-outline-primary': regionSeleccionada === region}" (click)="buscarPorRegion(region)"
      *ngFor="let region of regions" class="btn mx-2">
      {{ region }}
    </button>
  </div>
  <hr>
  <shared-loading *ngIf="isLoading"></shared-loading>
  <paises-tabla-paises [paises]="paises"></paises-tabla-paises>
</div>
